<header class="bg-light">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="header-nav" role="navigation">
    <div class="container">
      <a
        class="link-dark navbar-brand site-title mb-0"
        href="<% if(page !== '/'){ %> / <% } else { %> # <% } %>"
        >Profile</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto me-2">
          <li class="nav-item">
            <a class="nav-link" href="<% if(page !== '/about'){ %> /about <% } else { %> # <% } %>"
              >About</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="<% if(page !== '/services'){ %> /services <% } else { %> # <% } %>"
              >Services</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="<% if(page !== '/skills'){ %> /skills <% } else { %> # <% } %>"
              >Skills</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="<% if(page !== '/portfolio'){ %> /portfolio <% } else { %> # <% } %>"
              >Portfolio</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="<% if(page !== '/experiences'){ %> /experiences <% } else { %> # <% } %>"
              >Experience</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="<% if(page !== '/testimonial'){ %> /testimonial <% } else { %> # <% } %>"
              >Testimonial</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="<% if(page !== '/contact'){ %> /contact <% } else { %> # <% } %>"
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
